#css_attributes
	#header_attrs.offset0
		%h3
			Header
		%ul
			%li 
				font-family: 
				= @style.h_font_family
			%li
				font-size: 
				= @style.h_font_size
			%li
				font style: 
				= @style.h_font_style
			%li
				line height: 
				= @style.h_line_height
			%li
				text-transform: 
				= @style.h_text_transform
		#header_attrs.offset3
			%h3
				Header
			%ul
				%li 
					font-family: 
					= @style.sh_font_family
				%li
					font-size: 
					= @style.sh_font_size
				%li
					font style: 
					= @style.sh_font_style
				%li
					line height: 
					= @style.sh_line_height
				%li
					text-transform: 
					= @style.sh_text_transform
		#header_attrs.offset6
			%h3
				Header
			%ul
				%li 
					font-family: 
					= @style.p_font_family
				%li
					font-size: 
					= @style.p_font_size
				%li
					font style: 
					= @style.p_font_style
				%li
					line height: 
					= @style.p_line_height
				%li
					text-transform: 
					= @style.p_text_transform

			