.row.span12
	#style_list.span6
		%h2 Styles
		%p Here you can browse through all styles added by users.
		- @styles.each do |style|
			.well
				%h3
					= style.name
				-if style.user_ids[0]
					= User.find_by(id: style.user_ids[0]).email
				%hgroup
					%h1 Web Font Workshop
					%h2 Test your font combos.
					%p This paragraph exemplifies the type of paragraph that would be used in an example paragraph. If there were a different type of paragraph it might say something different, but it isn't. Don't expect to get a different paragraph any time soon. This is as good as it is going to get.
	
	#style_nav.span4
		%ul.nav.nav-list
			%li.nav-header Workshop
			%li
				= link_to "New Style", new_style_path, class: "pill"
				= link_to "Add More Fonts", fonts_path
				= link_to "Log Out", destroy_user_session_path