!!!
%html
  %head
    %title Web Font Workshop
    %meta{:charset => "UTF-8"}
    %meta{:name => "google", :value => "notranslate"}
    %meta{:content => "en", "http-equiv" => "Content-Language"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = yield :head
    %link{:href => "http://fonts.googleapis.com/css?family=Dancing+Script:400,700|Oswald:400,700,300|Open+Sans:400,700,300", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
  %body
    = render "navbar", locals: @active
    #main
      #content_wrapper
        = render "notice"
        = render "error"
        = yield
    = render "footer"
    :javascript
      $('document').ready(function(){
        Workshop.devise.initialize();
      })